@charset "utf-8";
@import url(/assets/css/pc/fonts.css);
/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */
/*
<UPLEAT> UI Dev Team
{Oh Young Ju}, {An Se Jung}, {Lee Yun Hee}, Hwang Mi Ae, Kim So Young, Cho Han Sol, {Kang Young Sun}
commnet : pc base
 */
 /* @font-face {font-family:'NanumBarunGothic';src: url('/fonts/NanumBarunGothic.eot');src:url('/fonts/NanumBarunGothic.eot')format('embedded-opentype'),url('/fonts/NanumBarunGothic.woff') format('woff')} */
/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); */

/* =Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0}
body,h1,h2,h3,h4,h5,h6,th,td,select,input,textarea,button{font-family:'Noto Sans KR', 'Malgun Gothic', 'AppleSDGothicNeo', Arial, Helvetica, serif , sans-serif;letter-spacing:-.4px}/* 'Nanum Gothic' */
body{-webkit-text-size-adjust:none;font-size:14px;font-weight:400;color:#333;word-break:break-all;line-height:1;letter-spacing:-.4px}
input,select,textarea,button{font-size:14px;vertical-align:top}
button,input,textarea{-webkit-border-radius:0;border-radius:0}
button{background-color:transparent;cursor:pointer}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0}
ol,ul,li{list-style:none}
dt,dd{line-height:1}
em,address{font-style:normal}
em{color:#e81f6f}
img,fieldset,iframe{border:0}
img{max-width:100%;height:100%;vertical-align:top}
a{color:#333;text-decoration:none}
area{outline:0}
p{line-height:1.5}
strong{font-weight:600}
input::-ms-clear{display:none}
input[type=date]::-webkit-inner-spin-button{display:none}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator{display:none}
input[type=number]{-moz-appearance:textfield}
input[type=text], input[type=number], input[type=date], input[type=password]{height:42px;padding:0 15px;border:1px solid #cdcdcd;background-color:#fff;border-radius:2px}
.firefox input[type=text], .firefox input[type=number], .firefox input[type=date], .firefox input[type=password]{width:220px}
.text_wrap .right_cont input[type=text], .text_wrap .right_cont input[type=number], .text_wrap .right_cont input[type=date], .text_wrap .right_cont input[type=password],
.option_wrap .right_cont input[type=text], .option_wrap .right_cont input[type=number], .option_wrap .right_cont input[type=date], .option_wrap .right_cont input[type=password]{height:36px}
input:focus, select:focus{outline:transparent!important;border:1px solid #5e2bb8!important}
input:focus+label{outline:1px dotted #aaa!important}

textarea{border:1px solid #cdcdcd;border-radius:2px;padding:16px}
select{height:42px;line-height:42px;font-size:14px;color:#333;padding:0 15px;border-radius:2px}
.disabled, [disabled]{opacity:.5}
/* =Skip Navigation */
#skip{position:relative;z-index:1000}
#skip a{position:absolute;top:-50px;left:0;padding:6px 15px;background-color:#231f20;border:1px solid #ed1c24;color:#fff}
#skip a:active,
#skip a:focus{top:0;text-decoration:none;cursor:pointer}
#skip span{display:inline-block}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){cursor:pointer}
/* =Webkit Browser Custom Scrollbar
::-webkit-scrollbar{width:8px;height:3px;border-left:0;background:rgba(0,0,0,.1)}
::-webkit-scrollbar-track{background-color:#eee}
::-webkit-scrollbar-thumb{background-color:#000;border-radius:0}*/

/* ::-webkit-scrollbar{width:4px;height:4px}
::-webkit-scrollbar-track {background-color:#eee;width:4px}
::-webkit-scrollbar-thumb {background-color:#969696;border-radius:10px}
::-webkit-scrollbar-thumb:hover {background: #555}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:4px;height:4px;background:#969696;border-radius:10px} */

/*scrollbar
::-webkit-scrollbar {width:4px;height:4px;border:3px solid #fff}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display:block;width:4px;height:10px;background:#969696}
::-webkit-scrollbar-track {background:#eee;-webkit-border-radius:10px;border-radius:10px}
::-webkit-scrollbar-thumb {height:50px;width:50px;background:#969696;-webkit-border-radius:4px;border-radius:4px}
::-webkit-scrollbar-thumb:hover {background:#555}*/


/* html{
	scrollbar-3dLight-Color:#efefef;
	scrollbar-arrow-color:#dfdfdf;
	scrollbar-base-color:#efefef;
	scrollbar-Face-Color:#dfdfdf;
	scrollbar-Track-Color:#efefef;
	scrollbar-DarkShadow-Color:#efefef;
	scrollbar-Highlight-Color:#efefef;
	scrollbar-Shadow-Color:#efefef
} */

.placeholder {color:#aaa;font-weight:normal}
:-ms-input-placeholder {color:#aaa;font-weight:normal} /* M$ */
::-webkit-input-placeholder {color:#aaa;font-weight:normal} /* webkit */
::-moz-placeholder{color:#aaa;font-weight:normal} /* firefox */

* {box-sizing:border-box}
*:before, *:after{box-sizing:initial}

/* =Set Class */
.blind{overflow:hidden;position:absolute;width:1px;height:1px;clip:rect(0 0 0 0);margin:-1px;color:transparent} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.dimmed{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1000;background-color:#000;opacity:.7;filter:alpha(opacity=70)} /* 딤드레이어 */
.eps{display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis} /* 한줄 말줄임*/
.show{display:block} /* 노출 */
.hide{display:none} /* 숨김 */
.fl{float:left} /* 좌측 플로팅 */
.fr{float:right} /* 우측 플로팅 */
.clearfix:after{display:table;content:'';clear:both} /* 플로팅 해제 */
.tbl{table-layout:fixed;display:table;width:100%} /* 테이블 */
.row{display:table-row} /* 테이블 행 */
.cell{display:table-cell;width:100%;vertical-align:top} /* 테이블 셀*/
.txl{text-align:left !important}
.txc{text-align:center !important}
.txr{text-align:right !important}
.vt{vertical-align:top !important}
.vm{vertical-align:middle !important}
.vb{vertical-align:bottom !important}
.impt{display:inline-block;position:relative;padding-right:10px}
.impt:before{content:'*';position:absolute;right:0;top:0;color:#5e2bb8}
.block{display:block !important}

/* margin, padding */
.mt0{margin-top:0px !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mtm14{margin-top:-14px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mtm30{margin-top:-30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mt60{margin-top:60px !important}
.mt70{margin-top:70px !important}
.mt80{margin-top:80px !important}
.mt90{margin-top:90px !important}
.mt100{margin-top:100px !important}
.mb90{margin-bottom:90px !important}
.mb0{margin-bottom:0px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}
.mb60{margin-bottom:60px !important}
.mb70{margin-bottom:70px !important}
.mb80{margin-bottom:80px !important}
.mb90{margin-bottom:90px !important}
.mtb50{margin-top:50px !important;margin-bottom:50px !important}
.mtb100{margin-top:100px !important;margin-bottom:100px !important}
.ml20{margin-left:20px !important}
.mr10{margin-right:10px !important}
.mr40{margin-right:40px !important}

.pt0{padding-top:0px !important}
.pt10{padding-top:10px !important}
.pt20{padding-top:20px !important}
.pt30{padding-top:30px !important}
.pt40{padding-top:40px !important}
.pt50{padding-top:50px !important}
.pt60{padding-top:60px !important}
.pt70{padding-top:70px !important}
.pt80{padding-top:80px !important}
.pb90{padding-bottom:90px !important}
.pb10{padding-bottom:10px !important}
.pb20{padding-bottom:20px !important}
.pb30{padding-bottom:30px !important}
.pb40{padding-bottom:40px !important}
.pb50{padding-bottom:50px !important}
.pb60{padding-bottom:60px !important}
.pb70{padding-bottom:70px !important}
.pb80{padding-bottom:80px !important}
.pb90{padding-bottom:90px !important}

.w130{width:130px !important}
.w180{width:180px !important}
.w200{width:200px !important}
.w220{width:220px !important}
.w240{width:240px !important}
.w250{width:250px !important}
.w300{width:300px !important}
.w350{width:350px !important}
.w390{width:390px !important}
.w420{width:420px !important}
.w445{width:445px !important}
.w600{width:600px !important}
.w827{width:827px !important}
.wp100{width:100% !important}

/* =font color */
em{color:#5e2bb8}
.pk{color:#5e2bb8!important}
.br{color:#937c72!important}
.bl{color:#5e9acd!important}
.bk{color:#111!important}
.gr{color:#666!important}
.base3{color:#333!important}

/* background color */
.bg_w{background-color:#fff !important}
.bg_g{background-color:#f8f8f8}

/* border */
.bt0 {border-top:0 none !important;}
.bt1 {border-top:1px solid #ddd}
.bb0 {border-bottom:0 none !important;}
.bb1 {border-bottom:1px solid #ddd}

